
    .foc-main, .foc-left, .foc-right, .foc-bottom{
      padding: 0;
      width: 40px;
        height: 40px;
      -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
    }
    .page-container {
          position: absolute;
    float: left;
    margin-left: 1em;
    margin-top: 1.5%;
    top: 0;
    }

#footerMsg{

	font-family: 'Poiret One', cursive;
	font-weight: bold;
	float:right; padding:30px; font-size: 0.8em; position:relative;
}

.typed-cursor{
     opacity: 1;
     -webkit-animation: blink 0.7s infinite;
     -moz-animation: blink 0.7s infinite;
     animation: blink 0.7s infinite;
 }

 @keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
