 @font-face { font-family: 'Poiret One'; src: url('../fonts/PoiretOne-Regular.ttf'); }
 @font-face { font-family: 'Pacifico'; src: url('../fonts/Pacifico.ttf'); }
 @font-face { font-family: 'Open Sans'; src: url('../fonts/OpenSans-Regular.ttf');  font-weight: 400; font-style: normal; }
 @font-face { font-family: 'Open Sans'; src: url('../fonts/OpenSans-Light.ttf');  font-weight: 300; font-style: light; }
 @font-face { font-family: 'Open Sans'; src: url('../fonts/OpenSans-Semibold.ttf');  font-weight: 600; font-style: bold;}


html, body {
	background-color: #ECF0F1;
	font-size: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;


}



header {
	width: 100%;
	background-color: white;
	height: 20%;
	max-height: 150px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
	top: 0;
	min-height: 50px;
	text-align: center;
	position: fixed;
	z-index: 99;
	-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						transition: all 0.4s ease-in-out;
}

footer {
	width: 100%;
	background-color: white;
	height: 10%;
	max-height: 100px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
	bottom: 0;
	min-height: 50px;
	text-align: center;
	z-index: 99;
	position: fixed;
}


.header_logo{
    height: 80px;
    margin-left: 1.5em;
    margin-top: 2em;
    float: left;
		-webkit-transition: all 0.4s ease-in-out;
							-moz-transition: all 0.4s ease-in-out;
							transition: all 0.4s ease-in-out;

}

#myName{
	font-family: 'Poiret One', cursive;
	font-size: 3em;
	font-weight: normal;

	  margin-top: 0;
	  margin-right: 4em;
	  padding-top: 0.25em;
      color: black;
      margin-bottom: 0;
			-webkit-transition: all 0.4s ease-in-out;
								-moz-transition: all 0.4s ease-in-out;
								transition: all 0.4s ease-in-out;

}

#myTitle{
	font-size: 1.7em;
	 font-family: 'Pacifico', cursive;
    margin-top: 0.125em;
      margin-right: 8em;
			opacity:1;
			-webkit-transition: all 0.4s ease-in-out;
								-moz-transition: all 0.4s ease-in-out;
								transition: all 0.4s ease-in-out;
}


header.smaller{

			height: 10%;
			max-height: 100px;

	-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						transition: all 0.4s ease-in-out;
}

header.smaller>#myTitle{
	-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						transition: all 0.4s ease-in-out;

				      margin-right: 5.2em;
	opacity: 0;
}

header.smaller #myName{
	font-size: 2em;
	padding-top: 0.5em;
	margin-right: 3.5em;
	-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						transition: all 0.4s ease-in-out;
}

header.smaller .header_logo{

	height: 2.5em;
	margin: 1em;
	-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						transition: all 0.4s ease-in-out;
}


.content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.5em;

}

.card{
	width: 32%;
	margin-top: 10em;
	margin-bottom: 3%;
	margin-left: auto;
	margin-right: auto;


	      -webkit-transition: all 0.4s ease-in-out;
                  -moz-transition: all 0.4s ease-in-out;
                  transition: all 0.4s ease-in-out;

}

.card_image {
	position: relative;
	width: 100%;
	display: block;
	background-color: black;
	padding-bottom: 75%;

			box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

		      -webkit-transition: all 0.4s ease-in-out;
	                  -moz-transition: all 0.4s ease-in-out;
	                  transition: all 0.4s ease-in-out;
}

.code > .card_image, #codeDetails{
	background-color: #f2f2f2;
}

.design > .card_image, #designDetails{
	background-color: #F39C12;
}

.more > .card_image, #moreDetails{
	background-color: #f2f2f2;
}

.card_button{
	position: relative;
	width: 100%;
	padding: 1em 0;
	display: block;
	height: 1em;
font-family: 'Poiret One', cursive;
font-size: 1.5em;
font-weight: bold;
  cursor: pointer;
  background: white;
  color:black ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}


.card_details{
	position: relative;
	width: 100%;
	background-color: none;
	height: 0;
	    -webkit-transition: all 0.4s ease-in-out;
                  -moz-transition: all 0.4s ease-in-out;
                  transition: all 0.4s ease-in-out;
                  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);


}
.card_text{
	opacity: 0;
	  line-height: 0;
	      -webkit-transition: all 0.4s ease-in-out;
                  -moz-transition: all 0.4s ease-in-out;
                  transition: all 0.4s ease-in-out;
      color: black;
      padding: 5%;
      text-align: justify;
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      font-weight: 400;
}


#codeText{

	text-align: left;
}


#designText{
	text-align: center;
}

#moreText{
	text-align: left;
}

.code > .card_image{
	  background-image: url("../images/9.png");
	  background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.design > .card_image{
	  background-image: url("../images/5.jpg");
	  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

		background-color: black;
}

.more > .card_image{
	  background-image: url("../images/more.jpg");
	  background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;

}


#goleft{
	margin-top: 33%;
    display: inline;
    max-width: 100%;
    max-height: 100%;
    width: 7.5%;
    height: 7.5%;
    float: left;
		margin-left: 2%;
		opacity: 0.3;
}

#goright{
	margin-top: 33%;
    display: inline;
    max-width: 100%;
    max-height: 100%;
    width: 7.5%;
    height: 7.5%;
    float: right;
		margin-right: 2%;
		opacity: 0.3;
}

.ripple{
  overflow:hidden;
}



.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #7F8C8D;
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}


.detailsHeading {
padding: 0;
	margin: 0;

}

.detailsText {
	padding: 0;
	margin: 0;

}


.details_list, .detailslist2{
	margin: 0;
	padding-left:  2em;
}

.details_list li{
	display: inline;
}


.detailsHeading{


}

.detailsHeading > img {
	width: 30px;
	height: 30px;
	vertical-align: sub;
}

.mainHead{
	font-size: 1.25em;
	font-weight: 300;
}

.subHead{

	font-size: 1.1em;
	font-weight: 300;
	padding-left:  2em;
	display: block;

}

.detailsText{
}

.lilicon{
	display: none;
}

.lilicon2{
	display: none;
}


/* unvisited link */
a:link {
    color: #3498DB;
		text-decoration: none;
}

/* visited link */
a:visited {
    color: #2980B9;
}

/* mouse over link */
a:hover {
    color: #2980B9;
}

/* selected link */
a:active {
    color: #34495E;
}


@media screen and (max-width: 750px) and (min-height: 320px ) {

	header {
		height: 12%;
		max-height: 50px;
	}

	.header_logo{
	height: 2em;
	margin: 0.5em;
}
#myTitle{
		display: none;
	}

	#myName{
		font-size: 1.5em;
		padding-top: 0.5em;
	  margin-right: 3.5em;
	}

}



@media screen and (max-height: 350px ) {

	header {
		height: 12%;

	}

	.header_logo{
	height: 50px;
	margin: 0.5em;
	}

	#myTitle{
		display: none;
	}

}

@media screen and (max-height: 560px){


	.header_logo{
	height: 2em;
	margin: .5em;
}
#myTitle{
		display: none;
	}

	#myName{
		font-size: 1.5em;
		padding-top: 0.5em;
	  margin-right: 3.5em;
	}

.card{
	width: 32%;
	margin-left: 1%;
	margin-top: 1em;
	background-color: none;
	margin-bottom: 3%;
	min-width: 300px;

}

.code{
	margin-top: 5em;
}

}

@media screen and (min-width: 320px) and (max-width: 850px) {

	.content{
		padding-bottom: 4em;
	}

	.card{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: none;
	margin-top: 10px;
	min-width: 300px;
}

.code{
	margin-top: 5em;
}

header {
		height: 12%;
		max-height: 50px;
	}

	.header_logo{
	height: 2em;
	margin: 0.5em;
}
#myTitle{
		display: none;
	}

	#myName{
		font-size: 1.5em;
		padding-top: 0.5em;
	  margin-right: 3.5em;
	}
  .foc-main, .foc-left, .foc-right, .foc-bottom{
      padding: 0;
      width: 40px;
        height: 40px;
      -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
    }
    .page-container {
          position: absolute;
    float: left;
    margin-left: 0.5em;

    top: 0;
		margin-top: 1%;
    width: 400px;
    }

#footerMsg{
	display: none;
}



.detailsHeading {
padding: 0;
	margin: 0;

}

.detailsText {
	padding: 0;
	margin: 0;

}

.details_list, .detailslist2{
	margin: 0;
	padding-left:  1.5em;
	font-size: 0.8em;
	padding-top: 0.25em;

}

.details_list li{
	display: inline;
}


.detailsHeading{


}

.detailsHeading > img {
	width: 30px;
	height: 30px;
	vertical-align: sub;

}

.mainHead{
	font-size: 0.9em;
	font-weight: bold;
}

.subHead{

	padding-top: 0.25em;
	font-size: 0.9em;
	font-weight: 300;
	padding-left:  1.5em;
	display: block;

}

}

@media screen and (min-height: 800px) and (max-width: 800px) and (max-height: 1280px)   {

header {
	width: 100%;
	background-color: white;
	height: 20%;
	max-height: 150px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
	top: 0;
	min-height: 50px;
	text-align: center;
	position: fixed;
	z-index: 99;
}

.content{
	padding-bottom: 6em;
}


.header_logo{
    height: 80px;
    margin-left: 1.5em;
    margin-top: 2em;
    float: left;

}

#myName{
	font-family: 'Poiret One', cursive;
	font-size: 3em;
	font-weight: normal;

	  margin-top: 0;
	  margin-right: 5em;
	  padding-top: 0.25em;
      color: black;
      margin-bottom: 0;

}

#myTitle{
	font-size: 1.7em;
	 font-family: 'Pacifico', cursive;
    margin-top: 0.125em;
      margin-right: 8em;
}

	.card{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: none;
	margin-top: 10px;
	min-width: 300px;
}

.code{
	margin-top: 10em;
}

  .foc-main, .foc-left, .foc-right, .foc-bottom{
      padding: 0;
      width: 50px;
        height: 50px;
      -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
    }
    .page-container {
          position: absolute;
    float: left;
    margin-left: 1em;

    top: 0;
		margin-top: 3%;
    }

#footerMsg{
	display: none;
}


.detailsHeading {
padding: 0;
	margin: 0;

}

.detailsText {
	padding: 0;
	margin: 0;

}

.details_list{
	margin: 0;
	padding-left:  1.5em;
	font-size: 1.5em;
	padding-top: 0.25em;

}

.details_list li{
	display: inline;
}


.detailsHeading{


}

.detailsHeading > img {
	width: 30px;
	height: 30px;
	vertical-align: sub;

}

.mainHead{
	font-size: 2em;
	font-weight: 300;
}

.subHead{
	padding-top: 0.25em;
	display: block;
	font-size: 1.7em;
	font-weight: 300;
	padding-left:  1.5em;

}

.detailsText{
	padding-bottom: 1em;
}


}


@media screen and (min-height: 560px) and (max-height: 700px) and (max-width: 500px){
	.foc-main, .foc-left, .foc-right, .foc-bottom{
			padding: 0;
			width: 40px;
				height: 40px;
			-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
		}

	.page-container {
				position: absolute;
	float: left;
	margin-left: 0.5em;

	top: 0;
	margin-top: 2%;
	}
}

@media screen and (min-height: 701px) and (max-height: 780px ) and (max-width: 500px){
	.foc-main, .foc-left, .foc-right, .foc-bottom{
			padding: 0;
			width: 50px;
				height: 50px;
			-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
		}

	.page-container {
				position: absolute;
	float: left;
	margin-left: 1em;

	top: 0;
	margin-top: 3%;
	}
}

/*CAROUSEL*/
